Imports

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

HTTP Request

In [5]:
# store website in variable
website = 'https://www.coingecko.com/en'

In [6]:
# Get request
response = requests.get(website)

In [7]:
# Status Code
response.status_code

200

Soup Object

In [8]:
soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
soup

Results

In [10]:
results = soup.find('table',{'class': 'table-scrollable'}).find('tbody').find_all('tr')

In [11]:
len(results)

100

Target necessary data

In [12]:
# Name
# Price
# 1h Change
# 24h Change
# 7 day change
# 24h Volume
# Market Cap

Name

In [13]:
results[0].find('a', {'class': 'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip()

'Bitcoin'

Price

In [14]:
results[0].find('td', {'class': 'td-price'}).get_text().strip()

'$42,286'

 1hr Change

In [15]:
results[0].find('td', {'class': 'td-change1h'}).get_text().strip()

'0.1%'

24hr Change

In [16]:
results[0].find('td', {'class': 'td-change24h'}).get_text().strip()

'-2.5%'

7 day change

In [17]:
results[0].find('td', {'class': 'td-change7d'}).get_text().strip()

'-6.3%'

24hr Volume

In [18]:
results[0].find('td', {'class': 'td-liquidity_score'}).get_text().strip()

'$42,997,654,630'

Market Cap

In [19]:
 results[0].find('td', {'class': 'td-market_cap'}).get_text().strip()

'$796,067,249,516'

Put everything together in a for loop

In [20]:
# empty lists
name = []
price = []
change_1h = []
change_24h = []
change_7d = []
volume_24h = []
market_cap = []

for result in results:
    # name
    try:
        name.append(result.find('a', {'class': 'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip())
    except:
        name.append('n/a')
        
    # price
    try:
        price.append(result.find('td', {'class':'td-price'}).get_text().strip())
    except:
        price.append('n/a')
        
    # change 1h
    try:
        change_1h.append(result.find('td', {'class':'td-change1h'}).get_text().strip())
    except:
        change_1h.append('n/a')
        
    # change 24h
    try:
        change_24h.append(result.find('td', {'class':'td-change24h'}).get_text().strip())
    except:
        change_24h.append('n/a')
        
    # change 7d
    try:
        change_7d.append(result.find('td', {'class':'td-change7d'}).get_text().strip())
    except:
        change_7d.append('n/a')
        
    #volume 24h
    try:
        volume_24h.append(result.find('td', {'class':'td-liquidity_score'}).get_text().strip())
    except:
        volume_24h.append('n/a')
        
    # market cap
    try:
        market_cap.append(result.find('td', {'class':'td-market_cap'}).get_text().strip())
    except:
        market_cap.append('n/a')

Create Pandas Dataframe

In [21]:
crypto_df = pd.DataFrame({'Coin': name, 'Price': price, 'Change_1h': change_1h, 'Change_24h':change_24h, 'Change_7d': change_7d, 'Volume_24h': volume_24h, 'Markt Cap': market_cap})

In [22]:
#output dataframe
crypto_df

,Coin,Price,Change_1h,Change_24h,Change_7d,Volume_24h,Markt Cap
0,Bitcoin,"$42,286",0.1%,-2.5%,-6.3%,"$42,997,654,630","$796,067,249,516"
1,Ethereum,"$2,909.82",-0.4%,-3.6%,-11.9%,"$29,449,024,116","$342,307,212,109"
2,Tether,$1.00,-0.1%,0.0%,-0.2%,"$81,510,492,567","$69,748,586,911"
3,Cardano,$2.06,-0.7%,-0.3%,-14.8%,"$5,289,915,471","$66,177,564,162"
4,Binance Coin,$359.95,-0.3%,-1.4%,-10.2%,"$1,768,913,019","$55,630,319,893"
...,...,...,...,...,...,...,...
95,ICON,$1.55,-0.8%,-5.5%,-20.0%,"$86,837,277","$1,024,543,701"
96,Osmosis,$5.44,-1.1%,-9.5%,-16.7%,"$8,108,205","$964,021,980"
97,Bitcoin Gold,$54.61,-0.7%,-2.7%,-16.7%,"$42,696,089","$956,560,942"
98,Basic Attention Token,$0.641143,-0.4%,-1.8%,-15.2%,"$138,968,037","$956,004,211"
99,Curve DAO Token,$2.37,-0.2%,-1.0%,-0.1%,"$332,760,433","$955,251,647"

Output in Excel

In [23]:
crypto_df.to_excel('single_page_crypto.xlsx', index=False)

Part 2 - Pagination - Get 1000 Results

In [24]:
# empty lists
name = []
price = []
change_1h = []
change_24h = []
change_7d = []
volume_24h = []
market_cap = []


for i in range(1, 11):
    #website
    website = 'https://www.coingecko.com/en?page='+ str(i)
    
    #request to website
    response = requests.get(website)
    
    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # storing results in a table
    results = soup.find('table',{'class': 'table-scrollable'}).find('tbody').find_all('tr')
    
    for result in results:
        # name
        try:
            name.append(result.find('a', {'class': 'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip())
        except:
            name.append('n/a')

        # price
        try:
            price.append(result.find('td', {'class':'td-price'}).get_text().strip())
        except:
            price.append('n/a')

        # change 1h
        try:
            change_1h.append(result.find('td', {'class':'td-change1h'}).get_text().strip())
        except:
            change_1h.append('n/a')

        # change 24h
        try:
            change_24h.append(result.find('td', {'class':'td-change24h'}).get_text().strip())
        except:
            change_24h.append('n/a')

        # change 7d
        try:
            change_7d.append(result.find('td', {'class':'td-change7d'}).get_text().strip())
        except:
            change_7d.append('n/a')

        #volume 24h
        try:
            volume_24h.append(result.find('td', {'class':'td-liquidity_score'}).get_text().strip())
        except:
            volume_24h.append('n/a')

        # market cap
        try:
            market_cap.append(result.find('td', {'class':'td-market_cap'}).get_text().strip())
        except:
            market_cap.append('n/a')

In [25]:
crypto_df = pd.DataFrame({'Coin': name, 'Price': price, 'Change_1h': change_1h, 'Change_24h':change_24h, 'Change_7d': change_7d, 'Volume_24h': volume_24h, 'Markt Cap': market_cap})

In [26]:
crypto_df

,Coin,Price,Change_1h,Change_24h,Change_7d,Volume_24h,Markt Cap
0,Bitcoin,"$42,270",0.0%,-2.5%,-6.4%,"$42,964,089,260","$796,067,249,516"
1,Ethereum,"$2,909.21",-0.4%,-3.6%,-11.9%,"$29,408,305,839","$342,307,212,109"
2,Tether,$1.00,-0.1%,0.0%,-0.2%,"$81,510,492,567","$69,748,586,911"
3,Cardano,$2.06,-0.7%,-0.3%,-14.8%,"$5,289,915,471","$66,177,564,162"
4,Binance Coin,$359.86,-0.3%,-1.4%,-10.2%,"$1,765,098,464","$55,630,319,893"
...,...,...,...,...,...,...,...
995,Wault Finance (OLD),$14.85,?,?,?,?,"$11,552,017"
996,SideShift Token,$0.283006,-1.7%,7.2%,12.1%,"$64,764","$11,504,264"
997,DEFI Top 5 Index,$77.77,0.2%,-3.0%,-7.8%,"$223,838","$11,490,287"
998,Ubiq,$0.245269,-0.8%,-8.9%,-9.9%,"$36,535","$11,413,335"
999,XMax,$0.000422180359,-0.2%,-1.5%,-8.4%,"$696,716","$11,383,382"

In [27]:
crypto_df.to_excel('multiple_page_crypto.xlsx', index=False)